{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}
  <div>
    <h4>Commandes pour {{ header }}</h4>
    <br>
  </div>
  <table class="table table-hover table-sm table-responsive-sm table-striped table-bordered">
    <thead>
            <tr>
              <th>order_number</th>
              <th>product</th>
              <th>client_name</th>
              <th>phone</th>
              <th>address</th>
              <th>city</th>
              <th>price</th>
              <th>confirm</th>
            </tr>
    </thead>
    <tbody>
        {% for livr in display_livr %}  
          {% if livr.city  == 'casa' %} 
            <tr>
              <td>{{ order.order_number }}</td>
              <td>{{ order.product }}</td>
              <td><a href="{% url 'inv_man:edit_order' order.id  %}">{{ order.client_name }}</td>
              <td>{{ order.phone }}</td>
              <td>{{ order.address }}</td>
              <td>{{ order.city }}</td>
              <td>{{ order.price }}</td>
              <td>{{ order.confirm }}</td>
              {% comment %} <td>{{ livr.num_com }}</td>
              <td>{{ livr.état }}</td>
              <td>{{ livr.date }}</td>
              <td>{{ livr.prénom }}</td>
              <td>{{ livr.nom }}</td>
              <td>{{ livr.adresse }}</td>
              <td>{{ livr.ville }}</td>
              <td>{{ livr.mont_tot }}</td>
              <td>{{ livr.élément }}</td>
              <td>{{ livr.quant }}</td>
              <td>{{ livr.prix_prod }}</td>
              <td class="table-primary">{{ livr.emballé }}</td> {% endcomment %}
            </tr>
          {% endif %}
        {% endfor %}
    </tbody>
  </table>
{% endblock %}