{% load bootstrap4 %}
{% load bootstrap4 %}
<html>
  <head>
    <title>Inventory</title>
  </head>

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}"/>

  <body>


    <nav class="navbar navbar-expand navbar-dark" style="background-color: #417690">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample02">
    {% if user.is_authenticated %}
    <ul class="navbar-nav mr-auto">

        <nav class="navbar navbar-expand navbar-dark" style="background-color: #417690">
      <a class="navbar-brand" href="{% url 'inv_man:home' %}">Management System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item active navbar-nav navbar-right">
          <a class="nav-link" href="{% url 'accounts:logout' %}">Log out</a>
      </li>
    </ul>

    {% else %}
        <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'accounts:login' %}">login<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    {% endif %}
  </div>
</nav>


<br>

<div class= container>
 <h2>Orders For: {{user.city}}</h2>
<br>


<form method="POST">

    {% csrf_token %}
    {% bootstrap_form order_form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Save Changes</button>
    {% endbuttons %}
  </form>
  </div>
</body>
</html>



